.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: darkgray;
  background: -moz-linear-gradient(
    left,
    rgb(85, 80, 80) 0%,
    darkgray 100%
  );

  background: -webkit-linear-gradient(
    left,
    rgb(223, 219, 211) 0%,
    rgb(179, 177, 172) 100%
  );
  margin: 0;
  pdading: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'quicksand';
}
.popupimages {
  width: 300px;
  height: 300px;
  animation: example 5s infinite;
  background-repeat: no-repeat;
  background-image: url('./user/confused.png');
}
@keyframes example {
  0% {
    background-image: url('./user/excited1.png');
  }
  25% {
    background-image: url('./user/excited1\ \(2\).png');
  }
  50% {
    background-image: url('./user/excited1\ \(2\).png');
  }
  100% {
    background-image: url('./user/confused.png');
  }
}
.nav {
  display: flex;
 justify-content: space-between;
  height: 40px;
 
  column-gap: 70px;

}
.ant-modal-content {
  background: linear-gradient(to left, #d1a53f, #d3a61d, #dbb313, #d6be1d, #eedf05) !important;
  border: 2px solid blue !important;
  
  
}
#nav {
  display: flex;
  border: 2px solid rgb(51, 96, 62);
  box-shadow: rgba(14, 13, 13, 0.757) 0px 5px 15px;
  background-color: #f3bc3e;
  height: 60px;
  
}
iframe{
  border:"2px solid red"
}

.signupbox>.ant-modal>.ant-modal-content{
  border: 2px solid red;
  
}
.signupcontent{
  display: flex;
  align-items: center;
  border: 2px solid blue;
}
.imagesection{
  width: 350px;
  height: 100px;
  border: 2px solid red;
}
.ant-modal-footer{
  display: none !important;
}
.buttondesign{
  background-color:#f3bc3e !important ;
  border:none;
  color:white;
  padding:8px;
  border-radius: 8px;
 
}
.textarea{
  width: 80%;
	height: 50px;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 0px;
	background-color: none;
	border-bottom: 0.5px solid white;
	background: none;
  background: transparent;
	color: #eee;

  
}
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: darkgray;
}
.login-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0,0,0,0.16);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
}
#login-form {
  flex: 1 0 100%;
  max-width: 480px;
  width: 100%;
  padding: 60px;
}
#login-form p {
  margin-bottom: 30px;
}
#login-form p.form-title {
  color: #333333;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 42px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}
#login-form .ant-form-item-label > label.ant-form-item-required::before {
  display: none;
}
.ant-form-item-control-input-content {
  text-align: left;
}
#login-form .ant-input-affix-wrapper {
  padding: 12px 15px;
}
#login-form_username {
  height: 48px;
}
#login-form .ant-btn {
  height: 42px;
  letter-spacing: 1px;
  border-radius: 6px;
}
.login-form-button {
  width: 100%;
  background-color: #f3bc3e !important;
  touch-action: none !important;
}
.illustration-wrapper {
  display: flex;
  align-items: flex-end;
  max-width: 800px;
  min-height: 100%;
  background-color: #fffdf2;
}
.illustration-wrapper img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .login-box {
    flex-direction: column;
    box-shadow: none;
  }
  .illustration-wrapper {
    max-width: 100%;
    min-height: auto;
  }
  #login-form {
    max-width: 100%;
  }
}
.Document{
  border: 2px solid blue;
  height: 20px;
  scroll-behavior: auto;
}
.OptionStyle{
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 19px;
  text-align: justify;
  background-color:gainsboro ;
  border-radius: 40px;
  margin-top: 10px;
  padding: 10px;
}
.QuizCard{
  border: 2px solid black;
  background-color: #febf05;
  margin: 40px;
  border-radius: 12px;
}
.SearchDesign{
  width: 300px;
  height: 20px;
  padding: 9px;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  border: none;
}
#SerachIcon{
  color: #dbb313;
  font-size: 25px;
}
#SearchButton{
  position: absolute;
  border: none;
  background-color: white;
  border-radius: 20px;
  margin-left: -40px;
  margin-top: 5px;
  
}
#ResetButton{
  border: none;
  padding: 8px;
  border-radius: 10px;
  color:  black;
  font-size: 15px;
  background-color: #fffdf2;
  margin-left: 12px;
  color:#dbb313 ;
}


