body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(47,100,90,1);
  background: -moz-linear-gradient(
    left, 
    rgba(47,100,90,1) 0%, 
    rgba(111,161,123,1) 100%
  );
 
  background: -webkit-linear-gradient(
    left, 
    rgba(47,100,90,1) 0%, 
    rgba(111,161,123,1) 100%
  );
  margin: 0;
  pdading: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'quicksand';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.signup{
  opacity: 1;
  visiblity: visible;
  position: absolute;
  z-index: 2000;
  top: 50%;
  left: 44%;
  margin-top: -330px;
  margin-left: -210px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(196, 97, 26, 0.3);
  height: 640px;
  width: 600px;
  color: white;
  text-align: center;
  border-radius: 2px;
  transition: 
    opacity .3s ease-in .3s,
    visibility .3s ease-in .3s;
  transform: scale(.9);
}
.sliderimg{
  width: 50%;
  height: 500px;
  object-fit: none;
  
}
.inputbox{
  width: 80%;
	height: 20px;
	margin: 20px auto;

	border: none;
	outline: none;
	border-radius: 0px;
	background-color: none;
	border-bottom: 0.5px solid white;
	background: none;
	background: transparent;
	color: #eee;
  text-align: start;
}
#form{
  opacity: 1;
  visiblity: visible;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -230px;
  margin-left: -210px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255,255,255,.3);
  height: 450px;
  width: 400px;
  color: white;
  text-align:center ;
  border-radius: 2px;
  -webkit-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.25);
  transition: 
    opacity .3s ease-in .3s,
    visibility .3s ease-in .3s;
  transform: scale(.9);
}
label{
  font-weight: lighter;
  margin-left: -220px;
}
.button{
  cursor: pointer;
  margin-top: 6px;
  width: 310px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: rgba(0,0,0,.6);
  border-radius: 2px;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;

  transition: background-color .4s ease-out;
}
 .ant-modal-content {
  background-color:#30cfb2 !important;
  
}





